<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="https://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <title>Tarja Preta - Tattoo Art & Whiskey</title>
  <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400i&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Bowlby+One+SC&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="/static/css/font-awesome.css" />
  <link type="text/css" rel="stylesheet" href="/static/css/jquery.bxslider.css" />
  <link href="/static/css/style.css" rel="stylesheet" />
</head>

<body>
  <!---- Header Start ---->
  <section id="header">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 text-center col-xs-4 col-sm-4">
          <!-- <div id="logo" class="navbar-brand">
            <a href="index.html"><img src="/static/img/mini-logo.png" alt="" /></a>
          </div> -->
        </div>
        <div class="col-lg-4 text-center col-xs-4 col-sm-4">
          <img class="m-top" src="/static/img/img-1.png" alt="" />
        </div>
        <div class="col-lg-4 text-right col-xs-4 col-sm-4">
          <nav class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-1"
                aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <div class=" hidden-xs">
                <div id="navbar" class="navbar-collapse collapse">
                  <ul class="nav navbar-nav navbar-right">
                    <!-- <li class=""><a href="sobre.html">Sobre</a></li> -->
                    <!-- <li><a href="agenda.html">Agenda</a></li> -->
                    <!-- <li><a href="contato.html">Contato</a></li> -->
                  </ul>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </div>
      <div class="row visible-xs">
        <div class="col-lg-12 col-sm-12 col-xs-12">
          <div id="navbar-1" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <!-- <li class=""><a href="sobre.html">Sobre</a></li> -->
              <!-- <li><a href="agenda.html">Agenda</a></li> -->
              <!-- <li><a href="contato.html">Contato</a></li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!---- Header End ---->
  <!---- Banner Start ---->
  <section id="banner">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12">
          <h2>Tarja Preta</h2>
          <h3>Tattoo Art & Whiskey</h3>
        </div>
      </div>
    </div>
  </section>
  <!---- Banner End ---->
  <!---- Content Start ---->
  <section id="content">
    <div class="container">
      <div class="row">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" aria-expanded="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                  aria-expanded="true" aria-controls="collapseOne">
                  <div class="title">
                    <div class="col-lg-2 col-lg-offset-1 col-sm-4 col-xs-12">
                      <h6>Sobre Nós</h6>
                    </div>
                    <div class="col-lg-9 col-sm-8 col-xs-12">
                      <p>Tarja Preta passou de ser um ideal, se tornou físico, abstrato, complexo e acolhedor.
Em busca de essência, traduzindo a paixão pela arte, transformando esse amor em tinta, idealizando e materializado sentimentos.
Não vendemos um produto... proporcionamos uma experiência!</p>
                    </div>
                  </div>
                </a>
              </h4>
            </div>
            <div>
              <div class="panel-body">
                <div class="row-eq-height">
                  <div class="col-lg-3 col-sm-3 col-xs-12">
                    <div class="tableRow v-bottom">
                      <div class="tableCell v-bottom">
                        <p><i class="fa fa-map-marker" aria-hidden="true"></i><br><br>Av. Moema, 606
                          - Planalto Paulista,<br>São Paulo - SP,<br>04077-022, Brazil<br>
                          
                          <a href="mailto:contato@tarjapreta.com.br" target="_blank">contato@tarjapreta.com.br</a>
                          </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-9 col-sm-9 col-xs-12">
                    <img src="/static/img/img-6.jpg" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
                  aria-expanded="true" aria-controls="collapseTwo">
                  <div class="title">
                    <div class="col-lg-2 col-lg-offset-1 col-sm-4 col-xs-12">
                      <h6>Artistas</h6>
                    </div>
                    <div class="col-lg-9 col-sm-8 col-xs-12">
                    </div>
                  </div>
                </a>
              </h4>
            </div>
            <div>
              <div class="panel-body">
                <div class="row-eq-height">
                  <!-- <div class="col-lg-1 col-sm-1 col-xs-12">
                    <div class="tableRow">
                      <div class="tableCell">
                        <span></span>
                      </div>
                    </div>
                  </div> -->
                  <div class="col-lg-11 col-sm-11 col-xs-12">
                <!--     <div class="row">
                      <div class="col-lg-12 col-sm-12 col-xs-12">
                        <div class="text-content">
                          <a href="#">Fixos</a><i class="fa fa-star" aria-hidden="true"></i><a href="#">Convidados</a>
                        </div>
                      </div>
                    </div> -->

                    <div class="list">
                      {{#each artists}}
                      {{#ifCond tattooArtist.data.id }}
                      <div class="list__item">
                        <div class="">
                          <div class="images">
                            <a class="in" href="" data-toggle="modal" data-target=".bs-example-modal-lg"
                              data-id="{{tattooArtist.data.id}}" data-name="{{tattooArtist.data.name}}"
                              data-social="{{tattooArtist.data.instragram}}"
                              data-about="{{tattooArtist.data.introduce_yourself}}"
                              data-gallery="{{json tattooArtist.data.gallery}}" data-slug="{{tattooArtist.data.slug}}"
                              data-whatsapp="{{tattooArtist.data.salesRepresentative.data.cellphone}}">
                              <img src="{{gallery.data.[0].image}}" alt="" />
                              <div class="overlay text-right">
                                <div class="tableRow">
                                  <div class="tableCell">
                                    <h4>{{tattooArtist.data.name}}</h4>
                                    <button class="btn-info">Agendar</button>
                                  </div>
                                </div>
                              </div>
                            </a>
                          </div>
                          <div class="col-lg-12 col-sm-12 flush col-xs-12">
                            <h5 class="text-right">{{tattooArtist.data.instagram}}</h5>
                          </div>
                        </div>
                      </div>
                      {{/ifCond}}
                      {{/each}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <a id="wpp" href="https://api.whatsapp.com/send?phone=5511980513299" target="_blank"></a>
  </section>
  <!---- Content End ---->
  <!---- Footer Start ---->
  <!-- <section id="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-xs-12 xs-center col-sm-12">
          <img src="/static/img/logo_main.png" />
        </div>
        <div class="col-lg-2 col-xs-12 xs-center col-sm-12">
          <ul>
            <li class=""><a href="sobre.html">Sobre</a></li>
            <li><a href="agenda.html">Agenda</a></li>
            <li><a href="contato.html">Contato</a></li>
          </ul>
        </div>
        <div class="col-lg-3 pull-right col-xs-12 xs-center col-sm-8">
          <p><i class="fa fa-map-marker" aria-hidden="true"></i><br><br>Av. Deputado Cantidio Sampaio, 140 - Vila
            Rica,<br>São Paulo - SP,<br>02860-001, Brazil</p>
          <ul class="social">
            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
   Footer End ---->
  <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <section id="content">
          <div class="panel-body">
            <div class="white">
              <a class="close-icon close" href="" data-dismiss="modal" aria-label="Close"><i class="fa fa-times"
                  aria-hidden="true"></i></a>
              <div class="col-lg-6 col-sm-6 col-xs-12">
                <h3 class="modal-artist-name"></h3>
              </div>
              <div class="col-lg-6 text-right col-sm-6 col-xs-12">
                <a href="#" target="_blank" class="insta instagram-link"><i class="fa fa-instagram" aria-hidden="true"></i>@<span
                    class="instagram-username"></span></a>
              </div>
              <div class="details">
                <div class="col-lg-6 col-sm-6 col-xs-12">
                  <p class="modal-about"></p>
                </div>
              </div>
              <div class="details">
                <div class="col-lg-6 col-sm-6 col-xs-12">
                  <p class="">Orçamentos</p>
                  <a class="whatsapp" target="_blank"
                    style="color: #128c7e; text-transform: uppercase; font-size: 20px; font-family: 'font'; display:inline-block;">WhatsApp:</a>
                </div>
              </div>
              <div class="modal-gallery">

              </div>


              <div class="details">
                <div class="col-lg-12 col-sm-12 col-xs-12">
                  <h4>Agendar</h4>
                </div>
                <div class="col-lg-12 col-sm-12 col-xs-12">
                  <form class="contact-form">
                    <div class="field">
                      <div class="col-lg-12 col-sm-12 col-xs-12 flush">
                        <input type="text" placeholder="Nome" class="field-name" required="true" />
                      </div>
                    </div>
                    <div class="field">
                      <div class="col-lg-12 col-sm-12 col-xs-12 flush">
                        <input type="Email" placeholder="Email" class="field-email" required="true" />
                      </div>
                    </div>
                    <div class="field">
                      <div class="col-lg-12 col-sm-12 col-xs-12 flush">
                        <input type=" text" placeholder="Telefone" class="field-telephone" required="true" />
                      </div>
                    </div>
                    <div class="field">
                      <div class="col-lg-4 col-lg-offset-4 col-sm-4 col-xs-12 flush">
                        <button type="submit">Enviar</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/jquery.bxslider.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
  <script type="text/javascript">
    $(document).ready(function () {
  
      var _numbers = [
      "https://api.whatsapp.com/send?phone=5511966551515",
      "https://api.whatsapp.com/send?phone=5511995092925"];
      var _sortNumber = Math.round(Math.random()* _numbers.length-1);

     //$("#wpp").attr("href", "https://api.whatsapp.com/send?phone=5511966551515"]);

      const pathname = window.location.pathname.split('/').pop();
      $(`[data-slug="${pathname}"]`).click();
  
      $('.bxslider').bxSlider({
        auto: true,
        controls: true,
        slideWidth: 350,
        minSlides: 2,
        maxSlides: 4,
        moveSlides: 1,
        slideMargin: 0,
        speed: 450
      });
    });

    

    $('[data-toggle="modal"]').on("click", function (e) {
      const $target = $(e.target);
      const name = $(this).data('name');
      const instagram = $(this).data('social');
      const about = $(this).data('about');
      const gallery = $(this).data('gallery');
      const id = $(this).data('id');
      const slug = $(this).data('slug');
      const whatsapp = $(this).data('whatsapp');
      // var _numbers = ['(11) 96655-1515', '(11) 99509-2925', '(11) 98051-3299'];
      // const whatsapp = _numbers[Math.round(Math.random() * (_numbers.length-1))];
      
      // for (var i = 0; i < 50 i++) 
      // {
          // console.log(_numbers[Math.round(Math.random() * 3)]);
      //   // console.log(_numbers[i]);
      // console.log(i);
      //   console.log(_numbers[Math.floor(Math.random() * _numbers.length)]);
      // }

      // console.log("WPP : ", whatsapp);
      // return;
      // console.log("WPP SORTEADO : ", whatsapp);

      history.pushState(
        {},
        `${name} | Dounttouch.com.br`,
        `/${slug}`
      );

      let template = "";

      for (i = 0; i < gallery.data.length; i++) {
        if (i === 0) {
          template += `
          <div class="details">
                 <div class="row-eq-height">
                   <div class="col-lg-6  col-sm-6 col-xs-12">
                     <img src="${gallery.data[0].image}" alt="" />
                   </div>
                   <div class="col-lg-6 p-top col-sm-6 col-xs-12">
                     <img src="${gallery.data[1].image}" alt="" />
                   </div>
                 </div>
               </div>`;
        }

        if (i === 2) {
          template += `
          <div class="details">
                 <div class="row-eq-height">
                   <div class="col-lg-6  col-sm-6 col-xs-12">
                     <img src="${gallery.data[2].image}" alt="" />
                   </div>
                   <div class="col-lg-6 p-top col-sm-6 col-xs-12">
                     <img src="${gallery.data[3].image}" alt="" />
                   </div>
                 </div>
               </div>`;
        }

        if (i === 3) {
          template += `
          <div class="details">
                 <div class="row-eq-height">
                   <div class="col-lg-6  col-sm-6 col-xs-12">
                     <img src="${gallery.data[4].image}" alt="" />
                   </div>
                   <div class="col-lg-6 p-top col-sm-6 col-xs-12">
                     <img src="${gallery.data[5].image}" alt="" />
                   </div>
                 </div>
               </div>`;
        }

        if (i === 4) {
          template += `
          <div class="details">
                 <div class="row-eq-height">
                   <div class="col-lg-6  col-sm-6 col-xs-12">
                     <img src="${gallery.data[6].image}" alt="" />
                   </div>
                   <div class="col-lg-6 p-top col-sm-6 col-xs-12">
                     <img src="${gallery.data[7].image}" alt="" />
                   </div>
                 </div>
               </div>`;
        }
      }
      $('.modal-artist-name').text(name)
      //$('.instagram-link').attr('href', 'instagram')
      $('.instagram-link').attr('href', 'https://www.instagram.com/studiodonttouch/')
      //$('.instagram-username').text(instagram.split('/')[3])
      $('.instagram-username').text('Instagram')
      $('.modal-about').text(about);
      $('.whatsapp').html(`<i class="fa fa-whatsapp" aria-hidden="true"></i> ${whatsapp}`)
      $('.whatsapp').attr(
        'href',
        `https://api.whatsapp.com/send?phone=55${whatsapp.replace(/\D/g, '')}`)
      $('.modal-gallery').html(template)
  
  
      $('.contact-form').off('submit').on('submit', (e) => {
        e.preventDefault();

        $.ajax({
          type: 'POST',
          url: 'https://api.donttouch.com.br/scheduling',
          data: {
            customer_name: $('.field-name').val(),
            customer_email: $('.field-email').val(),
            customer_cellphone: $('.field-telephone').val(),
            tattoo_width_cm: 10,
            tattoo_height_cm: 10,
            body_part: 'undefined',
            tattoo_artist_id: id
          },
          success: function (response) {
            Swal.fire({
              title: 'Sucesso!',
              text: 'Sua solicitação de orçamento foi enviada com sucesso.',
              type: 'success',
              confirmButtonText: 'Ok'
            });
            
            history.replaceState(null, null, 'obrigado');
            //$(input[type="submit"]).css{ 'display', ' none'}; 
            $('.modal').modal('hide');
          }
        })
      })
    });

    $(".modal").on("hidden.bs.modal", function () {
        history.replaceState(null, null, '');
        for (i = 0; i < 50; i++) {
          history.pushState({}, '');
        }
    });

  </script>
</body>

</html>